<!DOCTYPE html>
<html>

<head>
    <title>Admin ProfTeach List</title>
</head>

<body>
{{data|safe}}

<!--showing success message-->
<!--testing-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!--Form with multiple submit buttons-->
<form action="" method="POST" name="Return">
    <button type="submit" name="ProfTeach" action=" ">Return</button>

</body>
</html>