<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Prof Teaching View</title>
</head>
<body>
{{error|safe}}
<form action="" method="POST" name="form">
    {% csrf_token %}
    <label for="semester">Enter the semester:</label>
        <select name="semester" id="semester">
        <option value="1">1</option>
        <option value="2">2</option>
  </select>
<br>
    <label for="year">Enter the year:</label>
        <select name="year" id="year">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
  </select>
    <br> <br>

    <button type="submit" name="Create Teaching List">Create List</button>

</form>

<form action="" method="POST" name="Return">
    <button type="submit" name="Go Back More" action=" ">Return</button>
</form>


</body>
</html>