<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
{{error|safe}}
<form action="" method="POST" name="reguser">
    {% csrf_token %}
    <label for="user">Username:</label>
    <input type="user" id="user" name="username" /> <br>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="password" /> <br>
    <h2>Role Type</h2>
    <input type="radio" id="Admin" name="role" value="admin">
    <label for="Admin">Admin</label>
    <input type="radio" id="Professor" name="role" value="professor">
    <label for="Professor">Professor</label>
    <input type="radio" id="Student" name="role" value="student">
    <label for="Student">Student</label>
    <br> <br>

    <button type="submit" name="Register">Register</button>


</form>

<form action="" method="POST" name="Return">
    {% csrf_token %}
    <button type="submit" name="Go Home" action="http://127.0.0.1:8000">Return</button>
</form>

</body>
</html>