<!DOCTYPE html>
<html>

<head>
    <title>Student Login</title>
</head>

<body>
{{error | safe}}
<!--showing success message-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!--Form with multiple submit buttons-->
<form action="" method="POST" name="form">
    {% csrf_token %}

    <label for="dept">Enter the department:</label>
        <select name="department" id="dept">
            <option value="ANTH">ANTH</option>
            <option value="ART">ART</option>
            <option value="BIDA">BIDA</option>
            <option value="CS">CS</option>
            <option value="EE">EE</option>
            <option value="HIST">HIST</option>
            <option value="PHIL">PHIL</option>
            <option value="PHY">PHY</option>
            <option value="POL">POL</option>
        </select>
    <br>

    <label for="semester">Enter the semester:</label>
        <select name="semester" id="semester">
        <option value="1">1</option>
        <option value="2">2</option>
  </select>
<br>
    <label for="year">Enter the year:</label>
        <select name="year" id="year">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
  </select>
    <br> <br>

    <button type="submit" name="Search">Search</button>

</form>

<form action="" method="POST" name="Return">
    <button type="submit" name="Go Back More" action=" ">Return</button>
</form>
</body>
</html>